<div fxLayout="row wrap">
    <!--<div fxFlex.gt-xs='100' fxFlex.gt-sm='100' fxFlex.gt-md='100' fxFlex.gt-lg='100' class='header-image'>
        <img src='assets/images/logo.png' />
    </div>
    <div fxFlex.gt-xs='100' fxFlex.gt-sm='100' fxFlex.gt-md='100' fxFlex.gt-lg='100' class='menu'>
        <div fxFlex.gt-xs='25' fxFlex.gt-sm='25' fxFlex.gt-md='25' fxFlex.gt-lg='25' class='item' (click)='navigate("")' [ngClass]='{"selected": page == ""}'>
            <a>Home</a>
        </div>
        <div fxFlex.gt-xs='25' fxFlex.gt-sm='25' fxFlex.gt-md='25' fxFlex.gt-lg='25' class='item' (click)='navigate("atuacao")' [ngClass]='{"selected": page == "atuacao"}'>
            <a>Serviços</a>
        </div>
        <div fxFlex.gt-xs='25' fxFlex.gt-sm='25' fxFlex.gt-md='25' fxFlex.gt-lg='25' class='item' (click)='navigate("empresa")' [ngClass]='{"selected": page == "empresa"}'>
            <a>Empresa</a>
        </div>
        <div fxFlex.gt-xs='25' fxFlex.gt-sm='25' fxFlex.gt-md='25' fxFlex.gt-lg='25' class='item' (click)='navigate("contato")' [ngClass]='{"selected": page == "contato"}'>
            <a>Contato</a>
        </div>
    </div>-->
    
    <div fxFlex.gt-xs='100' fxFlex.gt-sm='100' fxFlex.gt-md='100' fxFlex.gt-lg='100' class='menu'>
        <div fxFlex.gt-xs='25' fxFlex.gt-sm='25' fxFlex.gt-md='25' fxFlex.gt-lg='25' class='item' (click)='navigate("")' [ngClass]='{"selected": page == ""}'>
            <a>Home</a>
        </div>
        <div fxFlex.gt-xs='25' fxFlex.gt-sm='25' fxFlex.gt-md='25' fxFlex.gt-lg='25' class='item' (click)='navigate("atuacao")' [ngClass]='{"selected": page == "atuacao"}'>
            <a>Atuação</a>
        </div>
        <div fxFlex.gt-xs='25' fxFlex.gt-sm='25' fxFlex.gt-md='25' fxFlex.gt-lg='25' class='item' (click)='navigate("empresa")' [ngClass]='{"selected": page == "empresa"}'>
            <a>Empresa</a>
        </div>
        <div fxFlex.gt-xs='25' fxFlex.gt-sm='25' fxFlex.gt-md='25' fxFlex.gt-lg='25' class='item' (click)='navigate("contato")' [ngClass]='{"selected": page == "contato"}'>
            <a>Contato</a>
        </div>
    </div>
    <div fxFlex.gt-xs='100' fxFlex.gt-sm='100' fxFlex.gt-md='100' fxFlex.gt-lg='100' class='header-image'>
        <img src='assets/images/logo2.jpeg' />
    </div>
</div>