@import '../../assets/css/constants.scss';

.header-image {

    img {

        width: 100%;
        height: auto;
    }
}

.menu {

    border-top: 4px solid black;
    border-bottom: 4px solid black;
    text-align: center;

    .item {

        padding: 8px 0px;
        font-size: 16px;
        font-weight: 700;
        color: white;
        cursor: pointer;
    }

    .selected {

        background-color: $primary-color;
        color: $secondary-color;
    }
}