<div fxFlex.gt-xs='100' fxFlex.gt-sm='100' fxFlex.gt-md='100' fxFlex.gt-lg='100' class="mainContent">

    <div fxFlex.gt-xs='50' fxFlex.gt-sm='50' fxFlex.gt-md='50' fxFlex.gt-lg='50'>
        <div class='title'>
            Cidades Atendidas
        </div>
        <div>
            <ul>
                <li>Amparo</li>
                <li>Araçariguama</li>
                <li>Barueri</li>
                <li>Cajamar</li>
                <li>Campinas</li>
                <li>Cotia</li>
                <li>Diadema</li>
                <li>Francisco Morato</li> 
                <li>Guarulhos</li>
                <li>Indaiatuba</li>
                <li>Limeira</li>
                <li>Mogi Guaçu</li> 
                <li>Mogi Mirim</li>
                <li>Nova Odessa</li>
                <li>Osasco</li>
                <li>Piracicaba</li>
                <li>Rio Claro</li>
                <li>São Bernardo do Campo</li>
                <li>Santa Bárbara D' Oeste</li>
                <li>Sumaré</li>
                <li>Taubaté</li>
                <li>Valinhos</li>
                <li>Vinhedo</li>
            </ul>
        </div>
    </div> 
    <div fxFlex.gt-xs='50' fxFlex.gt-sm='50' fxFlex.gt-md='50' fxFlex.gt-lg='50'>
        <agm-map [latitude]='-22.828712' [longitude]='-47.174377' [zoom]='8'>
            <agm-marker [latitude]='-22.828712' [longitude]='-47.174377'></agm-marker>
        </agm-map>
    </div> 
    
</div>